* {
    margin: 0;
    box-sizing: border-box;
    font-family: Calibri;
}

#header {
    background-color: yellow;
    display: flex;
    
}

#header h1, #header .nav {
    border: 1px black solid;
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.nav {
    display: flex;
    flex-direction: column;
}

#center {
    display: flex;
    justify-content: space-between;
}

#content p {
    margin: 4rem;
}

#sidebar {
    background-color: orange;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#sidebar img {
    width: 200px;
    height: auto;
    margin: 1rem;
}

#index-recetas {
    width: 64rem;
    padding: 2rem;
}

#tabla-recetas {
    border: 1px solid black;
    border-collapse: collapse;
}

    #tabla-recetas th, #tabla-recetas td {
        border: 1px solid black;
       
    }

    #footer {
        background-color: yellow;
        height: 3rem;
        font-size: 2em;
        font-weight: bolder;
        text-align: center;
    }
